<h1>Lista de informes</h1>
<%= link_to 'Generar nuevo informe', new_informe_path %>
<table>
  <tr>
    <th>ID</th>
    <th>Fecha</th>
	<th colspan="2"></th>
  </tr>
 
  <% @informe.each do |informe| %>
    <tr>
      <td><%= informe.id %></td>
      <td><%= informe.fecha %></td>
	  <td><%= link_to 'Ver informe', informe_path(informe.id) %></td>
    </tr>
  <% end %>
</table>