<h1> Revision de informe</h1>

<p>
		<strong>Numero de automoviles parqueados:</strong>
  </p>
  
   <p>
		<strong>Numero de automoviles inscritos:</strong>
   </p>
   
   <p>
		<strong>Total valor recaudado:</strong>
  </p>